body {
    font-family: Arial, Helvetica, sans-serif;
}

.column,
.row,
.full-column,
.centered {
/* these styles aren't used in this stylesheet */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0px auto;
}

header {
    display: flex;
    flex: 1 1 auto;
    max-width: 200px;
    /* Try other properties for flex-direction, like
    column and space-between*/
    flex-direction: column;
    /* Try other properties for justify-content, like
    flex-end and space-between. */
    justify-content: flex-start;
    background-color: darkblue;
    color: white;
}

header > div {
    margin: 0px 20px;
}

header .name {
    color: lightcoral;
    font-weight: bold;
}

header .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

header .contacts a {
    display: flex;
    color: aqua;
}

header .contacts a:first-child {
    padding-right: 10px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 3 3 auto;
}

main section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

main section > * {
    width: 100%;
}

main section > * {
    width: 100%;

}

h3 {
    margin: 0px;
    border-bottom: 1px solid darkgrey;
}

h4 {
    margin-bottom: 0px;
}

h5 {
    margin: 5px 0px;
}

ul {
    margin-top: 5px;
}

.project a {
    text-decoration: none;
    color: inherit;
}

.project img {
    width: 200px;
    border: 1px solid black;
}

.project .link {
    color: blue;
    text-decoration: underline;
}

footer {
    background-color: coral;
    color: aqua;
}

/* 
@media (max-width: 1000px) {
    body {
        margin: 0px 5%;
        background-color: red;
    }
}
*/